AddType text/css .css

RewriteEngine on
RewriteBase /photoTourist_framework_v2_prettyurls/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&function=$2&param=$3&param2=$4 [L]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^(.*)/(.*)/(.*)$ index.php?module=$1&function=$2&param=$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^(.*)/(.*)$ index.php?module=$1&function=$2 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^(.*)/$ index.php?module=$1 [L,NC]
